body{
    font-family: Arial, Helvetica, sans-serif;
    background: #cac5c5;
    margin: 0;
    padding: 20px;
    transition: 0.3s;
}

.dark{
    background: #1e1e1e;
    color: white;
}

h1{
    text-align: center;
}
input, textarea{
    width:98%;
    margin: 8px 0;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea{
    resize: none;
    height: 80px;
}

button{
    width: 100%;
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    background: #007bff;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}

button:hover{
    background: #0056b3;
}

.star-rating{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    cursor: pointer;
    margin: 10px 0;
}

.star-rating label{
    font-size: 25px;
    color: gray;
    cursor: pointer;
}

.star-rating input{
    display: none;
}

.star-rating input:checked~label{
    color: gold;
}

.container{
    width: 90%;
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.paragraph{
    text-align: center;
    font-family: cursive;
}

.task{
    background: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.dark .task{
    background: #333;
}

.delete-btn{
    background: red;
}
.form{
    display: flex;
    flex-direction: column;
}
.dark .container{
    background: #2c2c2c;
}
.completed{
    text-decoration: line-through;
    opacity: 0.6;
}

@media(max-width: 600px)  {
   .container{
    padding: 15px;
   } 
   h1{
    font-size: 22px;
   }
   .star-rating{
    font-size: 20px;
   }
}

